<div class="col-md-auto mt-5">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <% if creature.image.present? %>
        <%= image_tag creature.image.variant(resize_to_limit: [285, 285]).processed, class: "mx-auto d-block" %>
      <% end %>
      <h5 class="card-title"><%= creature.species.titleize %> </h5>
      <p class="card-text"><%= creature.description %> </p>
      <% if cart.include?(creature) %>
        <%= button_to cart_path(creature), class: "btn btn-danger w-100", method: :delete do %>
          Remove from cart
        <% end %>
      <% else %>
        <%= form_with url: cart_index_path, method: :post do %>
          <%= hidden_field_tag(:id, creature.id) %>
          <%= button_tag "Buy @ 0.#{creature.price_cents} ETH", class: "btn btn-primary w-100" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>